/* style.css */

.st-emotion-cache-1629p8f h1, .st-emotion-cache-1629p8f h2, .st-emotion-cache-1629p8f h3, .st-emotion-cache-1629p8f h4, .st-emotion-cache-1629p8f h5, .st-emotion-cache-1629p8f h6, .st-emotion-cache-1629p8f span {
    scroll-margin-top: 2rem;
}

.st-emotion-cache-10trblm {
    position: relative;
    flex: 1 1 0%;
    margin-left: calc(3rem);
}

*, ::before, ::after {
    box-sizing: border-box;
}

h1 {
    font-family: cursive;
    font-weight: 700;
    color: rgb(126 35 4);
    padding: 1.25rem 0px 1rem;
    margin: 0px;
    line-height: normal;
}
h1 {
    font-size: smaller;
}
user agent stylesheet
:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
}
user agent stylesheet
h1 {
    font-size: 2em;
    font-weight: bold;
}

.st-emotion-cache-5rimss {
    font-family: cursive;
    margin-bottom: -1rem;
}

.st-emotion-cache-1r4qj8v {
    position: absolute;
    background: rgb(136 238 245);
    color: rgb(49, 51, 63);
    inset: 0px;
    color-scheme: auto;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(229, 227, 154);
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: rgb(49, 51, 63);
}

body {
    margin: 0px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: rgb(49, 51, 63);
    background-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: auto;
}

html {
    font-size: 16px;
}
html {
    font-size: 1rem;
}

*, ::before, ::after {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background: transparent;
    border-radius: 100px;
    height: 6px;
    width: 6px;
}
